<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
    <title>DONE</title>
</head>
<style>
    section {
        width: 100px;
        height: 100px;
        position: relative;
        animation-name: example;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
    }

    @keyframes example {
        0%   {left:100%;}
        50%  {left:-20%}
        75%   {left:10%}
        85%   {left:-10%}
        95%   {left:5%}
        100%  {left:0%;}
    }
</style>
<body class="body1">
<audio src="/music/moneyCut.mp3" autoplay hidden></audio>
<section class="content1">
  <h1>🤑 Well Done! You have now gotten Free Money 🤑</h1>
    <div>Registered email: <span th:text="${email}">EMAIL</span></div>
    <br>
    <br>
    <button onclick="location.href = '/emails';">Email List</button>
    <br>
    <button onclick="location.href = '/home';">Home</button>
</section>
</body>
</html>